<html>
    <head>
        <title>{{ data["blogname"] }}</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div>
            <h2>{{ data["blogname"] }}</h2>
            <span>
                Постов в базе: {{ data["size"] }}<br>
                Последнее обновление: {{ data["updated"] }}
            </span>
                {% if "." in data["blogname"] %}
                    {% set url = "https://"+ data["blogname"] + "/" %}
                {% else %}
                    {% set url = "https://"+ data["blogname"] + ".livejournal.com/" %}
                {% endif %}
            <ul>
                {% for id,details in data["articles"].items() %}
                <li>
                    <span class="date">{{ details["date"] }}</span>
                    <span class="title">
                        <a href="{{ url+id+'.html' }}">{{ details["title"] }}</a>
                    </span>
                    <span class="tags">{{ ", ".join(details["tags"]) }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
